<!--
 * @Author: 胖胖很瘦
 * @Date: 2025-03-17 13:26:57
 * @LastEditors: 胖胖很瘦
 * @LastEditTime: 2025-03-27 13:28:50
-->

<%
  var title = '';
  if (is_archive()) {
    title = '文章归档';
    if (is_month()) {
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()) {
      title += ': ' + page.year;
    }
  }
%>

<div class="archive-container">
  <h1 class="archive-title"><%= title %></h1>
  
  <div class="archive-list">
    <% var lastDate = null; %>
    <% page.posts.each(function(post) { %>
      <% var currentDate = date(post.date, 'YYYY-MM'); %>
      <% if (currentDate !== lastDate) { %>
        <% if (lastDate !== null) { %>
          </div>
        <% } %>
        <div class="archive-month-block">
          <div class="archive-month-header">
            <span class="archive-month-time"><%= date(post.date, 'YYYY 年 MM 月') %></span>
            <span class="archive-month-count">文章数: <%= page.posts.filter(p => date(p.date, 'YYYY-MM') === currentDate).length %></span>
          </div>
      <% } %>
      
      <div class="archive-post-item">
        <span class="archive-post-date"><%= date(post.date, 'MM-DD') %></span>
        <a class="archive-post-title" href="<%= url_for(post.path) %>"><%= post.title || '无标题' %></a>
      </div>
      
      <% lastDate = currentDate; %>
    <% }) %>
    
    <% if (page.posts.length) { %>
      </div>
    <% } %>
  </div>
  
  <!-- 分页 -->
  <%- partial('_partial/pagination') %>
</div>